.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
Config/Local.xcconfig
Config/Local.xcconfig.*
Config/Cloud.xcconfig
*.xcarchive
*.xcresult
*.pkg
*.p12
*.mobileprovision
*.provisionprofile
_local/
_tmp/
_ignore/
*.keychain-db
*.key
*.p8
*.log

editor/node_modules/
editor/dist/
